/***
 *	DedeCMS v5.6 Style (Default Style)
 *	dedecms.com  Author Networker  2010.02.05
 **/
 
/*---------- import ---------*/
@import url("layout.css");
@import url("page.css");


/*---------- base ---------*/
*{
	padding:0px;
	margin:0px;
}
html{
	background:#FFF;
}
body{
	font:12px Arial,Verdana,Tahoma;
}
img{
	border:none;
}

a{
	color:#256EB1;
	text-decoration:none;
}
a:hover{
	color:#ba2636;
	text-decoration:underline;
}
ul{
	list-style:none;
}
input,select,button{
	font:12px Verdana,Arial,Tahoma;
	vertical-align:middle;
}
button{
	line-height:21px;
	text-align:center;
}
/*---------- stock ---------*/
.center{
	margin:0px auto;
}
.w998{
	width:998px;
	/*position:relative;*/
}
.pright .infos_userinfo {
	margin-bottom: 0px;
}
.mt1{/* ( margin-top * 1 ) */
}
.pright .mt1{
	margin-top:0px;
}
.mt2{/* ( margin-top * 2 ) */
	margin-top:16px;
}
.clear{
	overflow:hidden;
}
.fs-12{
	font-size:12px;
}
.fc-f60{
	color:#F60;
}
.fc-f90{
	color:#F90;
}
.clr{
	clear:both;
	}
.ipt-txt{
	line-height:15px;
	padding:4px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#666 #BBB #BBB #666;
	font-size:12px;
	margin-right:2px;
}
.nb{
	line-height:20px;
	padding:1px 2px;
	border-width:1px;
	border-style:solid;
	border-color:#666 #BBB #BBB #666;
	font-size:12px;
	margin-right:2px
}
.btn-1{
	width:56px;
	height:24px;
	border:none;
	background:url(../images/comm-bt.gif) no-repeat;
	line-height:25px;
	letter-spacing:1px;
	cursor:pointer;
	overflow:hidden;
	color:#585858;
}
.btn-2{
	width:70px;
	height:25px;
	border:none;
	background:url(../images/btn-bg2.gif) left top no-repeat;
	line-height:25px;
	overflow:hidden;
	color:#444;
	margin-right:2px;
	cursor:pointer;
}
/*---------- frame ---------*/
/*---------- frame : header ---------*/
.header{
	width:100%;
	width:998px;
	margin:auto;
	overflow:hidden;
}
.header .header_top{
	height:19px;
	line-height:19px;
	color:#fff;
	background: url('../images/xt_top.jpg') no-repeat top left;	
	}
.header .header_top .language{
	float:right;
	padding-right:124px;
	line-height:19px;
}
.header .header_top .language li{
	display:inline;
	padding:0 14px 0 14px;
}
.header .time{
	float:left;
	padding-left:10px;	
	}
.header .toplinks{
	float:right;
}
.header .toplinks a{
	margin:0 5px;
	}
.header .toplinks span{
	margin-left:15px;
	}
.header .toplinks span a{
	margin:0 2px;
	}
.header .search {
	overflow:hidden;
}
.header a{
	color:#fff;
}
.header a:hover{
	text-decoration:underline;
}
.header .banner{
	clear:both;
	overflow:hidden;
}

/*----- 新版导航菜单位置的样式 -------*/
.header .nav { }
/*-------- 圆角模型 ---------*/
.module, .module .mid {
	overflow:visible;
}
.module .top .t_l, .module .bottom .b_l {
	float:left;
	overflow:hidden;
}
.module .top .t_r, .module .bottom .b_r {
	float:right;
	overflow:hidden;
}
.module .top em {
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 5px;
}
.module .top em a:link, .module .top em a:visited {
	font-size:13px;
	font-weight:bold;
}
.module .top span {
	
}
.module .top strong {
	cursor:pointer;
	float:right;
	font-weight:normal;
	margin-right:4px;
}
.module .mid .m_l, .module .mid .m_r {
	overflow:hidden;
}
.module .mid .content {
	overflow:hidden;
	height:100%;
	clear: both;
	margin-right: 8px;
	margin-left: 8px;
	padding-top: 8px;/*padding-bottom: 10px;*/
}
.module .top{
	background: url('../images/xt_bg_nav.gif') no-repeat 0 0;
	
}
/*------ 主色 -------*/
.blue .top {
	height: 61px;
	position: relative;
}
.blue .top .t_l {
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 70px;
	width: 5px;
}
.blue .top .t_r {
	background-position: -6px 0;
	background-repeat: no-repeat;
	height: 70px;
	width: 5px;
}
/* --------- 导航 ----------------*/
.w963 {
	width:998px;
}
#navMenu {
	width:915px;
	overflow:visible;
	height: 28px;
	position:absolute;
	z-index:99;
	top:-16px;
}
#navMenu ul {
	float:left;
	height: 22px;
	padding-left:41px;
}
#navMenu ul li {
	float:left;	
	height: 22px;
	padding-left: 43px;
}
#navMenu ul li a {
	color: #000;
	height: 22px;
	text-decoration:none;
	display: inline-block;
	position: relative;
}
#navMenu ul li span {
	cursor:pointer;
	display:none;
	height:22px;
	line-height:20px;
	margin:0 0 0 5px;
	padding:0 5px 0 0;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	color:#000;
}
/*-------- 下拉菜单 --------------*/
.dropMenu {
	position:absolute;
	top: 0;
	z-index:100;
	width: 120px;
	visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA, direction=135, strength=4);
	margin-top: -1px;
	border: 1px solid #93E1EB;
	border-top: 0px solid #3CA2DC;
	background-color: #FFF;
	background:url(../images/mmenubg.gif);
	padding-top:6px;
	padding-bottom:6px;
}

.dropMenu li {
	margin-top:2px;
	margin-bottom:4px;
	padding-left:6px;
}
.dropMenu a {
	width: auto;
	display: block;
	color: black;
	padding: 2px 0 2px 1.2em;
}
* html .dropMenu a {
	width: 100%;
}
.dropMenu a:hover {
	color:red;
	text-decoration: underline;
}
/*------ //搜索框 ---------*/
.search-keyword {
	width:210px;
	height:18px;
	padding-top:2px;
	padding-left:6px;
	border:0px;
	border:#badaa1 solid 1px;
	background: #FFF;
	color:#444;
}
.search-submit {
	cursor:pointer;
	width:68px;
	height:22px;
	font-size:0px;
	color:#fafafa;
	border:0px;
	background:url(../images/search-bt.gif) no-repeat;
}
.search-option {
	margin-left:3px;
	margin-right:3px;
	border:#badaa1 solid 1px;
	height:22px;
}
.w963 .search{
	padding-left:10px;
	line-height:32px;
}
.w963 .form h4 {
	display:none;
}
.w963 .form {
	float:left;
	margin:0 10px 0 0;
	*margin:0 10px 0 0;
	_margin:5px 10px 0 0;
}
.w963 .tags {
	width:500px;
	overflow:hidden;
}
.w963 .tags h4 {
	float:left;
	margin-right: 6px;
	height:26px;
	font-size:12px;
	color:#777;
}
.w963 .tags li {
	float:left;
	margin-right: 6px;
}
.header .nav .end { }
/*-- //End 导航菜单 --*/

/*---------- frame : channel-nav ---------*/
.channel-nav {
	margin-top:8px;
	padding-left:6px;
	height:24px;
	width:950px;
	overflow:hidden;
}
.channel-nav .sonnav {
	width:830px;
	line-height:26px;
	float:left;
	color:#256DB1;
}
.channel-nav .sonnav span {	
	margin-right:10px;
	float:left;
}
.channel-nav .sonnav span a{
	padding:0 4px;
	border:1px solid #BADAA1;
	height:22px;
	line-height:21px;
	background:url(../images/channel_bg.png) repeat-x;
	display:inline-block;
	}
.channel-nav .sonnav span a.thisclass{
	border:1px solid #3aa21b;
	}
.channel-nav .sonnav a {
	color:#428C5B;
	text-decoration:none;
}
.channel-nav .sonnav a:hover{
	 color:#287212;
	}
.channel-nav .back{
	display:block;
	height:22px;
	line-height:21px;
	padding-top:6px;
	padding-right:10px;
	padding-left:20px;
	letter-spacing:2px;
	float:right;
	background:url(../images/ico-home.gif) 4px 10px no-repeat;
} 
.channel-nav .back a{
	color:#397CBE;
}
.channel-nav .back a:hover{
	text-decoration:none;
	color:#777;
}
/*pic scroll
----------------------------------*/
.infiniteCarousel {
  width: 700px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.infiniteCarousel .wrapper {
  width: 640px; 
  overflow: auto;
  height: 170px;
  margin: 0 30px;
  top: 0;
}
.infiniteCarousel ul a img {
  border:1px solid #E3E3E3;
  padding:2px;
  width:143px;
  height:106px;
  display:block;
}
.infiniteCarousel .wrapper ul {
  width: 625px; 
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  top: 0;
}
.infiniteCarousel ul li {
  display:block;
  color:#6C6D61;
  float:left;
  padding: 10px 6px;
  height: 147px;
  width: 147px;
  text-align:center;
}
.infiniteCarousel ul li a,
.infiniteCarousel ul li a:visited{
	color:#6C6D61;
	}
.infiniteCarousel .wrapper ul li a:hover{
	text-decoration:underline;
	}
.infiniteCarousel ul li a:hover img {
  border-color: #aaa;
}
.infiniteCarousel ul li a span{
   display:block;
   line-height:17px;
   padding-top:6px;
}
.infiniteCarousel .arrow {
  display: block;
  height: 26px;
  width: 26px;
  text-indent: -999px;
  position: absolute;
  top: 70px;
  cursor: pointer;
  outline: 0;
}
.infiniteCarousel .forward {
  background:url(../images/green_skin.png) 0 -256px no-repeat;
  right: 0;
}
.infiniteCarousel .back {
  background:url(../images/green_skin.png) 0 -222px no-repeat;
  left: 0;
}
/*----------dedeinfolink  ---------*/
#dedeinfolink {
	margin-bottom:6px;
	}
#dedeinfolink tr td div {
	padding:0 5px;
	background:url(../images/white_bg.gif) repeat-x;
	margin-right:8px;
	}
#dedeinfolink tr td {
	line-height:18px;
	}
#dedeinfolink tr td.spline {
	font-size:1px;
	height:1px;
	line-height:1px;
	border-bottom:1px dashed #dedede;
	}
#dedeinfolink tr td.iftitle {
	font-weight:bold;
	color:#428C5B;
	line-height:24px;
	border-bottom:1px dashed #dedede;
}
/*---------- frame : footer ---------*/
.footer{
	width:998px;
	margin:auto;
	text-align:center;
}
.footer .link{
	text-align:center;
	padding:5px 0px;
}
.footer .link a{
	margin:0px 5px;
	color:#666666;
}
.footer .powered{
	font-size:10px;
	line-height:25px;
}
.footer .powered strong{
	color:#690;
}
.footer .powered strong span{
	color:#F93;
}
.footer .copyright{
	color:#666666;
	line-height:23px;
}
/*换肤功能
------------------------------------*/
#dedecms_skins{
	float:right;
    padding:5px;
	width:120px;
    padding-right:0px;
	list-style:none;
	overflow:hidden;
    }
#dedecms_skins li{
	float:left;
    margin-right:5px;
    width:15px;
    height:15px;
	text-indent:-999px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	background-image:url(../images/theme.gif);
}
#dedecms_skins_0{
	background-position:0px 0px;
}
#dedecms_skins_1{
	background-position:15px 0px;
}
#dedecms_skins_2{
	background-position:35px 0px;
}
#dedecms_skins_3{
	background-position:55px 0px;
}
#dedecms_skins_4{
	background-position:75px 0px;
}
#dedecms_skins_5{
	background-position:95px 0px;
}
#dedecms_skins_0.selected{
	background-position:0px 15px !important;
}
#dedecms_skins_1.selected{
	background-position:15px 15px !important;
}
#dedecms_skins_2.selected{
	background-position:35px 15px !important;
}
#dedecms_skins_3.selected{
	background-position:55px 15px !important;
}
#dedecms_skins_4.selected{
	background-position:75px 15px !important;
}
#dedecms_skins_5.selected{
	background-position:95px 15px !important;
}
/*自定义
------------------------------------*/
.clear{
   clear:both;
}
.pmiddle #ad1{
	float:left;
}
.pmiddle #board{
	float:left;
	padding:5px 0 0 10px;
}
.pmiddle #login{
	float:right;
	background: url('../images/xt_bg_login.gif') no-repeat 0 0;
	width:230px;
	height:221px;
	position:relative;
	line-height:16px;
}
.pmiddle #login a{
	color:#000;
}
.pmiddle #login form{
	margin:72px 0 0 14px;
}
.pmiddle #login form ul li input{
	width:117px;
	border:1px solid #d7d7d7;
}
.login_from2{
	margin-top:7px;
}
.pmiddle #login form button{
	background: url('../images/xt_btn_login.gif') no-repeat 0 0;
	width:50px;
	height:64px;
	border:0;
	position:absolute;
	top:71px;
	right:38px;
}
.pmiddle #hot{
	float:left;
	padding:5px 6px 0 0 ;
	background: url('../images/xt_index_hot.jpg') no-repeat left bottom;
	width:623px;
	height:232px;
	position:relative;
}
.pmiddle #hot .hotpic{
	position:absolute;
	top:37px;
}
.pmiddle #hot .hotico{
	position:absolute;
	top:26px;
	left:294px;
}
.pmiddle #hotright{
	float:right;
	width:277px;
	padding:20px 0 0 0;
}
.pmiddle #hotright img{
	float:left;
	padding-top:12px;
}
.pmiddle #homelist{
	margin-top:8px;
}
.pmiddle #homelist .list_l{
	float:left;
}
.pmiddle #homelist .list_m{
	float:left;
	padding:0 0 0 12px;
}
.pmiddle #homelist .list_r{
	float:right;
}
.pmiddle #homelist .list_box{
	margin-top:6px;
}
.home{
	height:1069px;
}
.contact{
	height:429px;
}
.contact .pleft{
	width:49px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_contact_left.gif') no-repeat left bottom;
}
.contact .pright{
	width:50px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_contact_right.gif') no-repeat left bottom;	
}
.contact .pmiddle{
	width:899px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_contact.gif') repeat-x left bottom;
	position:relative;
}
#contact_bg{
	background: url('../images/xt_contact.jpg') no-repeat 0 0;
	width:899px;
	height:408px;
	margin-top:5px;
	position:relative;
}
#contact_bg ul{
	position:absolute;
	top:48px;
	left:52px;
	color:#000000;
}
#contact_bg ul li{
	line-height:20px;
}
#navMenu ul li a{display:block; width:92px; height:72px;background-position: 0 0; background-repeat: no-repeat;}
#navMenu ul li a.current,#navMenu ul li a:hover{width:106px;height:82px;background-position:-92px 0;position:relative;top:-10px;}
#nav0{background-image:url('../images/xt_nav1.png');}
#nav2{background-image:url('../images/xt_nav2.png');}
#nav3{background-image:url('../images/xt_nav3.png');}
#nav4{background-image:url('../images/xt_nav4.png');}
#navv{background-image:url('../images/xt_nav5.png');}
#nav5{background-image:url('../images/xt_nav6.png');}
#slider {
    position:relative;
    background:url(../images/loading.gif) no-repeat 50% 50%;
	height:267px;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}
.jiazuarticle{
	height:749px;
}
.jiazuarticle .pleft{
	width:44px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_jiazu_left.gif') no-repeat left bottom;
}
.jiazuarticle .pright{
	width:48px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_jiazu_right.gif') no-repeat left bottom;	
}
.jiazuarticle .pmiddle{
	width:906px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_jiazu.gif') repeat-x left bottom;
	position:relative;
}
.jiazucontent{
	padding-left:12px;
}
.jiazubottom{
	padding-top:12px;
}
.jixianggushi2{
	height:675px;
}
.jixianggushi2 .pleft{
	width:47px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_gushi2_left.gif') no-repeat left bottom;
}
.jixianggushi2 .pright{
	width:49px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_gushi2_right.gif') no-repeat left bottom;	
}
.jixianggushi2 .pmiddle{
	width:902px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_gushi2.gif') repeat-x left bottom;
	position:relative;
}
.jixianggushi2 .gushiblock1{
	background: url('../images/xt_bg_block1.jpg') no-repeat left top;
	width:292px;
	height:202px;
	float:left;
	position:relative;
}
.jixianggushi2 .gushiblock2{
	background: url('../images/xt_bg_block2.jpg') no-repeat left top;
	width:292px;
	height:202px;
	float:left;
	margin-left:13px;
	display:inline;
}
.jixianggushi2 .gushiblock3{
	background: url('../images/xt_bg_block3.jpg') no-repeat left top;
	width:292px;
	height:202px;
	float:right;
	position:relative;
}
.gushiblock ul{
	margin:52px 0 0 20px;
	width:239px;
}
.gushiblock ul li{
	line-height:21px;
}
.gushiblock ul li a{
	color:#000;
}
.gushiblock ul li span{
	float:right;
}
.gushiblock .more{
	position:absolute;
	bottom:22px;
	right:48px;
}
.jixianggushi1{
	height:376px;
}
.jixianggushi1 .pleft{
	width:46px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_gushi1_left.gif') no-repeat left bottom;
}
.jixianggushi1 .pright{
	width:48px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_gushi1_right.gif') no-repeat left bottom;	
}
.jixianggushi1 .pmiddle{
	width:904px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_gushi1.gif') repeat-x left bottom;
	position:relative;
}
.jixianggushi4{
	height:1132px;
}
.jixianggushi4 .pleft{
	width:41px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_gushi4_left.gif') no-repeat left bottom;
}
.jixianggushi4 .pright{
	width:43px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_gushi4_right.gif') no-repeat left bottom;	
}
.jixianggushi4 .pmiddle{
	width:914px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_gushi4.gif') repeat-x left bottom;
	position:relative;
}
.jixianggushi4 .breadcrumb{
	margin-top:46px;
	border-bottom:2px solid #999999;
	padding:9px 0;
}
.breadcrumb a{
	color:#000;
}
.breadcrumb .positon{
	padding-left:30px;
}
.breadcrumb .pre{
	float:right;
	padding-right:28px;
}
.breadcrumb .next{
	float:right;
	padding-right:110px;
}
.jixianggushi4 .gushipic{
	text-align:center;
	padding:17px 0 0 0;
}
.jixianggushi4 .btn_pre{
	position:absolute;
	left:79px;
	top:361px;
}
.jixianggushi4 .btn_next{
	position:absolute;
	right:79px;
	top:361px;
}
.jixianggushi4 .gushiwarp{
	background: url('../images/xt_bg_gushi_content.gif') no-repeat 0 0;
	width:900px;
	height:338px;
	margin:16px 0 0 7px;
	position:relative;
}
.jixianggushi4 .gushiwarp .gushicontent{
	position:absolute;
	overflow-y:auto;
	height:283px;
	top:24px;
	left:47px;
	width:844px;
}
.shangcheng1{
	height:1388px;
}
.shangcheng1 .pleft{
	width:43px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_shangcheng1_left.gif') no-repeat left bottom;
}
.shangcheng1 .pright{
	width:51px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_shangcheng1_right.gif') no-repeat left bottom;	
}
.shangcheng1 .pmiddle{
	width:904px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_shangcheng1.gif') repeat-x left bottom;
	position:relative;
}
.leftnav{
	background: url('../images/xt_blue-bg.jpg') no-repeat left bottom;
	width:174px;
	height:590px;
	border:1px solid #869eab;
	float:left;
}
.leftnav ul li a{
	display:block;
	background: url('../images/xt_bg_leftnav_gray.gif') no-repeat 0 0;
	width:174px;
	height:39px;
	line-height:39px;
	color:#333;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

.leftnav ul li a:hover{
	background: url('../images/xt_bg_leftnav_blue.gif') no-repeat 0 0;
	color:#fff;
	text-decoration:none;
}
.rightpart{
	width:724px;
	float:right;
}
.rightpart .feature{
	padding-top:5px;
	width:725px;
}
.blocklist{
	background:#8b9397;
	height:284px;
	width:100%;
	margin-top:5px;
	padding-top:13px;
	position:relative;
}
.blocklist img{
	margin:47px 0 0 5px;
}
.shangcheng1 .gongzai{
	background: url('../images/xt_bg_block4.jpg') no-repeat 0 0;
	width:276px;
	height:275px;
	display:block;
	position:absolute;
	top:13px;
	left:7px;
}
.shangcheng1 .jiaju{
	background: url('../images/xt_bg_block5.jpg') no-repeat 0 0;
	width:276px;
	height:275px;
	display:block;
	position:absolute;
	top:13px;
	left:313px;
}
.shangcheng1 .zhipin{
	background: url('../images/xt_bg_block6.jpg') no-repeat 0 0;
	width:276px;
	height:275px;
	display:block;
	position:absolute;
	top:13px;
	right:7px;
}
.shangcheng2{
	height:1264px;
}
.shangcheng2 .pleft{
	width:47px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_shangcheng2_left.gif') no-repeat left bottom;
}
.shangcheng2 .pright{
	width:47px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_shangcheng2_right.gif') no-repeat left bottom;	
}
.shangcheng2 .pmiddle{
	width:904px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_shangcheng2.gif') repeat-x left bottom;
	position:relative;
}
.shangcheng2 .leftnav{
	margin-top:8px;
	display:inline;
}
.shangcheng2 .rightpart {
		margin-top:8px;
	display:inline;
}
.shangcheng2 .rightpart ul{
	padding-top:10px;
}
.shangcheng2 .rightpart ul li{
	width:127px;
	float:left;
	padding-left:37px;
}
.shangcheng2 .rightpart ul li a{
	color:#231815;
    display: block;
    width: 132px;
}
.shangcheng2 .rightpart ul li p{
	color:#036eb7;
	text-align:center;
	padding-top:5px;
}
.shangcheng2 .xinpindaohuo{
	padding-top:10px;
}
.shangcheng2 .xinpindaohuo ul{
	padding-top:10px;
}
.shangcheng2 .xinpindaohuo ul li{
	width:127px;
	float:left;
	padding-left:37px;
}
.shangcheng2 .xinpindaohuo ul li a{
	color:#231815;
}
.shangcheng2 .xinpindaohuo ul li p{
	color:#036eb7;
	text-align:center;
	padding-top:5px;
}
.shangcheng2 .tejiashangpin{
	padding-top:26px;
}
.onsale{
	padding-top:26px;
	float:left;
}
.shangcheng2 .tejiashangpin .feature{
	padding:26px 0 0 5px;
	float:left;
}
.leftnav .thisclass{
		background: url('../images/xt_bg_leftnav_blue.gif') no-repeat 0 0;
	color:#fff;
	text-decoration:none;
}
.jixianggushi3{
	height:883px;
}
.jixianggushi3 .pleft{
	width:41px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_gushi3_left.gif') no-repeat left bottom;
}
.jixianggushi3 .pright{
	width:42px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_gushi3_right.gif') no-repeat left bottom;	
}
.jixianggushi3 .pmiddle{
	width:915px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_gushi3.gif') repeat-x left bottom;
	position:relative;
}
.jixianggushi3 .breadcrumb{
	margin-top:10px;
	border-bottom:2px solid #999999;
	padding:16px 0;
}
.jixianggushi3 .newslist{
	background: url('../images/xt_block_gushilist.jpg') no-repeat left top;
	width:594px;
	height:569px;
	float:left;
	margin:0 0 0 14px;
	display:inline;
}
.jixianggushi3 .rightpart{
	float:right;
	width:282px;
	padding:0 13px 0 0;
}
.jixianggushi3 .gushiblock10{
	background: url('../images/xt_bg_block10.jpg') no-repeat left top;
	width:282px;
	height:280px;
}
.jixianggushi3 .gushiblock11{
	background: url('../images/xt_bg_block11.jpg') no-repeat left top;
	width:282px;
	height:279px;
	position:relative;
	margin:10px 0 0 0;
}
.newslist ul{
	margin:24px 0 0 54px;
}
.newslist ul li{
	width:395px;
	line-height:20px;
}
.newslist ul li a{
	color:#000;
}
.newslist ul li a:hover{
	background:#aeddf2;
}
.newslist ul li span{
	float:right;
}
.gushiblock10 ul{
	padding:52px 0 0 29px;
}
.gushiblock10 ul li{
	width:205px;
}
.gushiblock10 ul li a{
	color:#000;
}
.gushiblock10 ul li span{
	float:right;
}
.huiyuan{
	height:563px;
}
.huiyuan .pleft{
	width:43px;
	float:left;
	height:100%;
	background: url('../images/xt_bg_huiyuan_left.gif') no-repeat left bottom;
}
.huiyuan .pright{
	width:44px;
	height:100%;
	float:right;
	background: url('../images/xt_bg_huiyuan_right.gif') no-repeat left bottom;	
}
.huiyuan .pmiddle{
	width:911px;
	height:100%;
	float:left;
	background: url('../images/xt_bg_huiyuan.gif') repeat-x left bottom;
	position:relative;
}
.huiyuancontent{
	background: url('../images/xt_bg_huiyuancontent.jpg') no-repeat 0 0;
	width:911px;
	height:367px;
	margin-top:10px;
	position:relative;
}
.s120{
	position:absolute;
	top:31px;
	left:5px;
}
.s120 .face{
	border:2px solid #d6d6d6;
}
.huiyuancontent p{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:13px 0 0 0;
}
.huiyuanbottom{
	background: url('../images/xt_bg_huiyuan_bottom.jpg') no-repeat 0 0;
	width:911px;
	height:161px;
	margin-top:9px;
	position:relative;
	color:#fff;
}
.huiyuanbottom h1{
	top:32px;
	left:37px;
	position:absolute;
		font-size:20px;
	font-family:simhei;
	font-weight:bold;
}
.huiyuanbottom p{
	top:58px;
	left:81px;
	position:absolute;
	font-size:20px;
	font-family:simhei;
}
.huiyuanbottom a{
	top:77px;
	right:270px;
	position:absolute;
}
#cover-flow{width:904px; height:405px; display:block;}
.board-container{position:relative;}
.board-container #board{position:absolute; top:14px; right:35px;}
.bor{
	background: url('../images/xt_bg_login.jpg') no-repeat 0 0;
	width:910px;
	height:367px;
}
.editface{
	background: url('../images/xt_bg_editface.jpg') no-repeat 0 0;
	width:910px;
	height:367px;
}
.bor .fLeft{
	margin:0 auto;
	padding-top:118px;
	width:192px;
	position:relative;
	line-height:20px;
}
.bor .fLeft a{
	color:#000;
}
.bor .fLeft form .text{
	width:123px;
}
.bor .fLeft form .button2 {
    background: url("../images/xt_btn_huyuan_login.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 74px;
    width: 49px;
    position:absolute;
    top:118px;
    right:0;
}
.editface .fLeft{
	padding:89px 0 0 26px;
	width:358px;
}
.button2{
	width:48px;
}
.ifile {position:absolute;opacity:0;filter:alpha(opacity=0);}
.resetpw .bor{
	background: url("../images/xt_bg_resetpw.jpg") no-repeat scroll 0 0 transparent;
}
.bor .fLeft form .button5 {
    background: url("../images/xt_bg_xiayibu.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 24px;
    width: 56px;
    position:absolute;
    top:181px;
    left:85px;
}
.message .bor{
	background: url("../images/xt_bg_message.jpg") no-repeat scroll 0 0 transparent;
}
.message .fLeft{
	margin:0 0 0 20px;
	width:391px;
	padding-top:80px;
}
.message .btn-2{
	background: url("../images/xt_btn_message.gif") no-repeat scroll 0 0 transparent;
	width:94px;
	height:32px;
	position:absolute;
	right:0;
	top:265px;
}
.reg .bor{
	background: url("../images/xt_bg_reg.jpg") no-repeat scroll 0 0 transparent;
}
.reg .fLeft{
	width:491px;
}
.contract {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    color: #000000;
    font-size: 12px;
    height: 90px;
    line-height: 20px;
    overflow: auto;
    padding: 5px;
    text-align: left;
    width:393px;
}
.xieyi{
	float:left;
}
.buttonGreen142{
	background: url("../images/xt_btn_regnew.gif") no-repeat scroll 0 0 transparent;
	width:78px;
	height:33px;
	border:0;
	cursor:pointer
}
#_userpwdok{
	position:absolute;
	left:701px;
    top: 140px;
}